.options p, .options fieldset {
    margin: 10px 0;
    display: inline-block;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.options input[name=search], .options button {
    width: 110px;
}


.options input[name=type] {
    margin-right: 5px;
}

.options input[name=search] {
    height: 25px;
    font-size: .9em;
}

.options button {
    height: 30px;
    font-size: .9em;
}


@media (min-width:750px) { 

    .options {
        display: block;
    }
    
    .options label {
        display: block;
        margin: 3px 0;
    }

    .options p, .options fieldset {
        display: block;
    }


    .options input[name=search], .options button {
        width: 180px;
    }

} 

